[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
vega = "*"
altair = "*"
jupyterlab = "*"
nodejs = "*"
requests = "*"
census = "*"
us = "*"
typing-extensions = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
